/* Copyright 2025 sreeshankar.github.io

This file is a part of
https://github.com/sreeshankark/investigation-hybrid-bladeless-wind-turbine

Author: Sreeshankar K (https://github.com/sreeshankark) */

#home {
  background-image: none;
}